/* Styles for the header navbar */
.container-fluid {
    padding-top: 1%;
    padding-bottom: 1%;
    background: none;
  }
  
  .navbar-brand {
    background: none;
  }
  
  #navbarNavAltMarkup {
    background: none;
  }
  
  .navbar-nav {
    background: none;
  }
  
  .nav-link {
    margin-right: 5%;
    background: none;
  }

  /* Homepage design */

  .home-container {
      width: 30%;
      margin: 0;
  }

  .home-text {
      margin-bottom: 5.5%;
  }

